<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>会员提款记录</title>
		<link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/withdrawals.css" />
		<style>
				.labelList input{
					width: 80px;
				}
			</style>
	</head>

	<body>
		<section id="container">
		<div class="container wdl clearfix" id="app">
			<form :action="exportUser+'/download/exportWithdrawRecord'" method="post" id="export_form">
			<div class="row clearfix">
				<div class="col">
					<div class="date">
						<input id="startDate" name="startTime" placeholder="开始时间" readonly />
						<i class="layui-icon icon">&#xe637;</i>
					</div>
				</div>
				<div class="col">
					<span id="now" @click="btn_date_click($event,1)">今天</span><span id="yes" @click="btn_date_click($event,2)">昨天</span><span id="week" @click="btn_date_click($event,3)">本周</span>
				</div>
				<div class="col">
					<select name="state" v-model="dealState" v-if="orderState==1" v-cloak>
						<option value="">全部状态</option>
						<option value="1">待处理</option>
						<option value="2">处理中</option>
					</select>
					<select name="state" v-model="dealState" v-else v-cloak>
						<option value="">全部状态</option>
						<option value="1">待处理</option>
						<option value="2">处理中</option>
						<option value="3">提现成功</option>
						<option value="4">驳回</option>
					</select>
					<select name="depositOperateType" id="dealWay">
							<option value="">所有等级</option>
							<option v-for="(item,index) in vipList"  :value="index+1">{{item.vipName}}</option>
						
					</select>
				</div>
				<div>
						<span id="btn_select_byDate" class="layui-btn" @click="btn_select_click">查询</span>
						<span id="btn_export" class="layui-btn" @click="btn_export_click">导出</span>
					</div>
			</div>
			<div class="row clearfix">
				<div class="col">
					<div class="date">
						<input id="endDate" name="endTime"  placeholder="结束时间" readonly />
						<i class="layui-icon icon">&#xe637;</i>
					</div>
				</div>
				<div class="col">
					<span id="lastWeek" @click="btn_date_click($event,4)">上周</span><span id="month" @click="btn_date_click($event,5)">本月</span><span id="lastMonth" @click="btn_date_click($event,6)">上月</span>
				</div>
				<div class="col labelList" id="label_list">
					<label><input type="text" placeholder="会员名称" name="userName" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></label>
					<label><input type="text" placeholder="提款订单号" name="rechargeId" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></label>
					<label><input type="text" placeholder="所属代理" name="agentCount" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></label>
					<label><input type="text" v-model="operate_user" placeholder="操作员" name="operate_user" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></label>
					<label>范围:<input type="number" v-model="min_coin" placeholder="最小金额" name="min_coin" onkeyup="this.value=this.value.replace(/\s+/g,'')"/> 至 <input type="number" v-model="max_coin" placeholder="最大金额" name="max_coin" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></label>
				</div>
				<input type="hidden" name="X-Authorization" id="Authorization" /><!--导出用-->
				<input type="hidden" name="userType" value="2" /><!--导出用-->
				
			</div>
			</form>
			<div class="titleMsg" v-cloak v-if="titleMsg.length!==0">
					<span>今日提款: {{titleMsg.todaysWithdrawSum?titleMsg.todaysWithdrawSum:'0.00'}}</span>
					<span>今日有效: {{titleMsg.todaysValidWithdrawSum?titleMsg.todaysValidWithdrawSum:'0.00'}}</span>
					<span>昨日有效: {{titleMsg.yesterdayValidWithdrawSum?titleMsg.yesterdayValidWithdrawSum:'0.00'}}</span>
					<span>7日内有效: {{titleMsg.sevenValidWithdrawSum?titleMsg.sevenValidWithdrawSum:'0.00'}}</span>
			
			</div>
			<!--列表显示-->
			<div class="recordList">
				<table id="recordList_table" class="layui-table" style="width: auto;">
					<colgroup>
						<col width="5%">
						<col width="4%">
						<col width="6%">
						<col width="4%">
						<col width="6%">
						<col width="6%">
						<col width="3%">
						<col width="6%">
						<col width="4%">
						<col width="4%">
					</colgroup>
					<thead>
						<tr>
							<th>会员/单号</th>
							<th>收款户名</th>
							<th>收款银行账号</th>
							<th>提款金额</th>
							<th>申请时间</th>
							<th>处理时间</th>
							<th>状态</th>
							<th>操作</th>
							<th>操作员</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody id="recordList">

					</tbody>
				</table>
			</div>

		</div>
		<div id="paging_record" class="clearfix">
			<div class="left">
				总共<span class="sumRecord"></span>条数据 每页显示
				<select name="" v-model="pageNum">
					<option value="50">50</option>
					<option value="100">100</option>
					<option value="200">200</option><option value="500">500</option>
				</select>条数据
			</div>
		</div>
		<div id="page"></div>
		<div id="personDetail" class="hide detail"></div>
		<div id="dealApplication" class="hide"></div>
		</section>
		<script type="text/javascript" src="../public/js/jquery.js"></script>
		<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
		<script src="../public/js/laydate/laydate.js"></script>
		<script src='../plugins/layui/layui.js'></script>
		<script src="../public/js/security.js"></script>
		<script src="../public/js/send_request.js"></script>
		<script src="../public/js/clipboard.js"></script>
		<script type="text/javascript" src="../public/js/vue.min.js"></script>
		<script src="js/withdrawals.js"></script>
	</body>

</html>