<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>角色列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../public/css/fenye.css"/>
    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/zTreeStyle.css"/>
    <link rel="stylesheet" href="css/rbac.css">
    <link rel="stylesheet" href="css/manage_lists.css">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="admin-main" id="app">

    <!--角色列表内容展示-->
    <fieldset class="layui-elem-field ">
        <legend>角色列表</legend>
        <div class="add_btn layui-inline">
            <div class="layui-inline">
                <button class="layui-btn" @click="imt">添加</button>
            </div>
        </div>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>角色</th>
                    <th>创建时间</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <tr v-if="datas.length==0">
                    <td colspan="5">暂无数据</td>
                </tr>
                <tr v-else v-for="(list,index) in datas">
                    <td v-cloak>{{list.roleId}}</td>
                    <td v-cloak>{{list.roleName}}</td>
                    <td v-cloak>{{list.createdDate}}</td>
                    <td>
                        <span class="layui-btn layui-btn-normal layui-btn-mini" @click="updateRole(list.roleId,list.state)" v-cloak>
                            {{list.roleDesc}}
                        </span>
                    </td>
                    <td v-cloak>
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 0;">
                                    <div v-if="list.state==1&&list.roleId!=1" :id="list.roleId" class="layui-unselect layui-form-switch layui-form-onswitch" @click="changeType(list.roleId,list.state,index)">
                                        <em>启用</em>
                                        <i></i>
                                    </div>
                                    <div v-else-if="list.state==0&&list.roleId!=1" :id="list.roleId" class="layui-unselect layui-form-switch" @click="changeType(list.roleId,list.state,index)">
                                        <em>停用</em>
                                        <i></i>
                                    </div>
                                    <div v-else>正常</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--页码设置-->
        <div class="yema">
            <!--页码左边-->
            <div class="selectYema">
                <p v-cloak>
                    总共{{total}}条记录.每页显示
                    <select v-model="page_num">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option><option value="500">500</option>
                    </select>
                    条记录
                </p>
            </div>
            <!--右边分页-->
            <div id="fenye" style="text-align: right;"></div>
        </div>
    </fieldset>
    <!--遮罩层-->
    <div class="zhezhao"></div>
    <!--添加角色弹出框-默认隐藏-->
    <div class="popAdd">
        <!--<p class="title">添加角色</p>-->
        <div class="inner">
            <!--用户名-->
            <div class="layui-form-item">
                <label class="layui-form-label">角色名:</label>
                <div class="layui-input-block">
                    <input type="text" v-model="name" @change="checkUserName" placeholder="请输入角色名" class="layui-input" @keyup="name=name.replace(/\s+/g,'')"/>
                    <div id="prompt2" v-cloak>{{prompt2}}</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述:</label>
                <div class="layui-input-block">
                    <input type="text" v-model="description" placeholder="请输入描述" class="layui-input"/>
                </div>
            </div>
        </div>
    </div>
    <!--设置权限弹出窗-默认隐藏-->
    <div class="popAuthority">
        <div class="zTreeDemoBackground">
            <ul id="treeDemo" class="ztree" style="width: 100%;"></ul>
            <div>
                <button class="layui-btn-small" @click="confirmRole">确定</button>
                <button class="layui-btn-small" @click="esc">取消</button>
            </div>
        </div>
        <!--<ul id="code" class="log" style="height:20px;"></ul>-->
    </div>
</div>
<script type="text/javascript" src="../public/js/jquery.js"></script>
<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/js/security.js"></script>
<script type="text/javascript" src="../public/js/send_request.js"></script>
<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="js/manage_lists.js"></script>
</body>
</html>