/*搜索框和添加按钮样式*/
.add_btn>input {
    display: inline-block;
    width: 30%;
}

.add_btn>i {
    font-size: 25px;
    color: #ccc;
    position: relative;
    left: -40px;
    top: 5px;
    cursor: pointer;
}
#prompt3{
    display: none;
    color: darkred;
}

/*遮罩层设置*/
.zhezhao{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    z-index: 12;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}
/*修改信息弹出层*/
.popPass{
    display: none;
    padding: 15px;
    box-sizing: border-box;
}
.popPass>.title{
    font-size: 18px;
    background-color: #eae7e7;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
}
.popPass>.inner{
    padding: 17px 20px;
    box-sizing: border-box;
}
.popPass-btn{
    margin-top: 20px;
    text-align: center;
}
#prompt{
    display: none;
    color: darkred;
}
/*删除框设置*/
.popDel{
    display: none;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
/*设置添加ip弹出层*/
.popAdd{
    display: none;
    padding: 15px;
    box-sizing: border-box;
}
.popAdd>.title{
    font-size: 18px;
    background-color: #eae7e7;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
}
.popAdd>.inner{
    padding: 20px 10px 20px 0;
    box-sizing: border-box;
}
.aaa{
    height: 35px;
    width: 110px;
}
#prompt1{
    display: none;
    color: darkred;
}
.popAdd-btn{
    text-align: center;
}
/*页码设置*/
.yema{
    overflow: hidden;
}
.selectYema{
    float: left;
    line-height: 78px;
}
.selectYema>p{
    text-indent:20px;
}